#skillWrapper {
  width: 15rem;
  align-items: center;
  text-align: center;
}
.wrapper img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}
.wrapper h3 {
  font-size:1.5rem;
  color: var(--primary-color);
}

@media (max-width: 767px) {
  #skillWrapper {
    width: 90%;
  }
}



