header {
display : flex;
padding: 1.75rem 10rem;
align-items: center;
justify-content: space-between;
background-color : var(--primary-background-color);
position: sticky;
z-index: 999;
top: 0  
}

nav {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
 nav ul { 
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

nav ul li a {
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 0.625rem;
  
}
.active {
color: var(--primary-color);
}



button a {
  color: var(--primary-text-color);
  text-decoration: none;
}

@media (max-width: 768px) {

header {
 position: static;
 padding: 2rem;
}
nav {
  display: none;
}
}